:root {
    --verde: #b6e2c1;
    --verde-oscuro: #6fbf8e;
    --blanco: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

body {
    background-color: var(--blanco);
    color: #333;
}

.container {
    min-height: 100vh;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

h1 {
    font-family: "Playfair Display", serif;
    color: var(--verde-oscuro);
    font-weight: 600;
}

.contador {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 420px;
}

.contador div {
    background-color: var(--verde);
    padding: 1rem;
    border-radius: 12px;
}

.contador span {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
}

.contador small {
    font-size: 0.8rem;
}

.numero {
    display: block;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.numero.animar {
    transform: translateY(-6px);
    opacity: 0.4;
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Botón */
.btn {
    background-color: var(--verde-oscuro);
    color: var(--blanco);
    padding: 0.8rem 1.4rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Galería */
.galeria {
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 140px;
    gap: 0.8rem;
    grid-auto-flow: dense;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* Fotos destacadas */
.foto.grande {
    grid-column: span 2;
    grid-row: span 2;
}

.foto.vertical {
    grid-row: span 2;
}

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 85%;
    border-radius: 16px;
}

.lightbox.activo {
    opacity: 1;
    pointer-events: all;
}

/* Desktop */
@media (min-width: 768px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 180px;
        max-width: 900px;
    }

    .foto.grande {
        grid-column: span 2;
        grid-row: span 2;
    }
}


/* Desktop */
@media (min-width: 768px) {
    .contador {
        grid-template-columns: repeat(6, 1fr);
    }
}